spring:
  application:
    name: book-sen-api
  data:
    mongodb:
      auto-index-creation: true
      authentication-database: admin
      username: root
      password: password
      database: buy01
      port: 27017
      host: localhost
  jpa:
    hibernate:
      ddl-auto: update  # Automatically update schema (you can use 'create' or 'validate' if needed)
    show-sql: true  # Show SQL statements for debugging
    open-in-view: false  # Disable open-in-view to prevent lazy loading outside of transactions

server:
  port: 8082

application:
  security:
    jwt:
      key-id: book-sen-secret-key
      expiration: 86400000 # 1 day

  media:
    upload:
      max-file-size: 2097152
      allowed-content-types: image/jpeg,image/png,image/webp
      base-dir: '${user.dir}/api/src/main/resources/uploads'

  admin:
    name: "System Administrator"
    email: "admin@example.com"
    password: "ChangeMe123!"
